<div class="container-theme">
    <div class="container-theme-toggle">
        <button class="btn-action-toggle" (click)="toggleThemeSelector()">{{labelBtnThemeSelectorToggle}}</button>
    </div>
    <div class="container-theme-selector" [ngClass]="{'close':isThemeSelectorClose}">
        <div class="theme-selector">
            <button class="btn btn-theme" [ngClass]="{'active':themeStyleSheetSelected==='theme-light.css'}" (click)="setTheme('theme-light.css')">Light</button>
            <button class="btn btn-theme" [ngClass]="{'active':themeStyleSheetSelected==='theme-dark.css'}" (click)="setTheme('theme-dark.css')">Dark</button>
        </div>
    </div>
</div>
