body {
    background-color: #FEFEFE;
}

.box-lcd-char-dot.active {
    background-color:#333333;
}

.box-lcd-char-dot.inactive {
    background-color:transparent;
}

.dayOfWeek.text {
    color: #333;
}

.todayDate.text{
    color: #333
}

.container-theme-selector.theme{
    border-top: 2px solid #F0F0F0;
    background-color: #FEFEFE;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-theme-selector .title.theme{
    color: #555;
}

.container-theme .container-theme-toggle .btn-action-toggle {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #FEFEFE;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    border-radius: .25rem;
    border-top: 2px solid #F0F0F0;
    border-left: 2px solid #F0F0F0;
    border-right: 2px solid #F0F0F0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 5rem;
}

.container-theme .container-theme-toggle .btn-action-toggle:hover {
    color:#0b5ed7;
    background-color: #F0F0F0;
}